In [ ]:
import pandas as pd
import numpy as np

Topper Name: erica
Topper Marks: 99

In [1]:
clas = {
    "name": ["dustin", "eleven", "will", "max", "erica"],
    "marks": [80, 75, 88, 90, 99],
    "grade": ["A", "B", "A", "A+", "O"]
}

df = pd.DataFrame(clas)
df["pass / fail"] = np.where(df["marks"] < 85, "fail", "pass")

# Find topper (highest marks)
topper = df.loc[df["marks"].idxmax()]

print("Topper Name:", topper["name"])
print("Topper Marks:", topper["marks"])

NameError: name 'pd' is not defined

In [12]:
top=df.iloc[4]
top["name"]

'erica'

In [ ]:
p=df.loc[df["marks"].idxmax(),"marks"]
p

np.int64(99)

In [20]:
df.loc[df["marks"].idxmin(),"name"]

'eleven'

In [32]:
import pandas as pd
import numpy as np

# Create 40 student names
names = [f"student_{i+1}" for i in range(100)]

# Subjects in SSLC
subjects = ["English", "Maths", "Science", "Social", "Hindi"]

# Generate random marks between 40 and 100
marks = {sub: np.random.randint(40, 101, size=100) for sub in subjects}

# Create DataFrame
df = pd.DataFrame(marks)
df["Name"] = names
df.set_index("Name", inplace=True)

# Add total and average
df["Total"] = df.sum(axis=1)
df["Average"] = (df["Total"] / len(subjects)).round(2)

# Function for grading
def grade(avg):
    if avg >= 90:
        return "A+"
    elif avg >= 80:
        return "A"
    elif avg >= 70:
        return "B"
    elif avg >= 60:
        return "C"
    elif avg >= 50:
        return "D"
    else:
        return "Fail"

# Apply grade function
df["Grade"] = df["Average"].apply(grade)

# Pass/Fail (Fail if any subject < 40)
df["Result"] = np.where(df[subjects].min(axis=1) < 40, "Fail", "Pass")

# Print all 40 students' progress card
print("Progress Card of 40 Students (SSLC):\n")
print(df)

# Find topper
topper = df.loc[df["Total"].idxmax()]
print("\nTopper of the class:\n", topper)

Progress Card of 40 Students (SSLC):

             English  Maths  Science  Social  Hindi  Total  Average Grade  \
Name
student_1         67     47       59      57     62    292     58.4     D
student_2         70     82       56      99     91    398     79.6     B
student_3         41     43       46      45     43    218     43.6  Fail
student_4         90     85       94      58     59    386     77.2     B
student_5         83     56       89      41     55    324     64.8     C
...              ...    ...      ...     ...    ...    ...      ...   ...
student_96        67     48      100      83     97    395     79.0     B
student_97        89     95       56      90     57    387     77.4     B
student_98        59     62       57      45     67    290     58.0     D
student_99        68     64       85      51     90    358     71.6     B
student_100       44     49       53      63     68    277     55.4     D

            Result
Name
student_1     Pass
student_2     Pass
student_3     Pass
student_4     Pass
student_5     Pass
...            ...
student_96    Pass
student_97    Pass
student_98    Pass
student_99    Pass
student_100   Pass

[100 rows x 9 columns]

Topper of the class:
 English      88
Maths        95
Science      89
Social       92
Hindi        97
Total       461
Average    92.2
Grade        A+
Result     Pass
Name: student_69, dtype: object

In [30]:
topper["Grade"]

'A'

In [29]:
topper

English      87
Maths        97
Science     100
Social       77
Hindi        78
Total       439
Average    87.8
Grade         A
Result     Pass
Name: student_27, dtype: object